{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Add Similar Versus</h2>
    <div class="row justify-content-center mt-4">
        <div class="col-md-6 text-center">
            <button onclick="window.location.href='/add/subject'" class="btn btn-primary btn-lg mr-2">Add target meaning</button>
            <button onclick="window.location.href='/add/symbol'" class="btn btn-primary btn-lg mr-2">Add common/same words</button>
        </div>
    </div>
</div>
{% endblock %}
